html, body
{
  // background-color: #E3F2FF;
  height: 100%;
  background: url('../images/Soleil_Tan.jpg');
  background-size: 414px 736px;
}

#container {

	min-height: 100%;
	margin-bottom: -250px;
	position: relative;
}

.form-group {

}

#footer {

	height: 75px;
	background-color: blue;
	position: relative;
	font-size: 18pt;
	color: white;
}


.clearfooter {

	height: 700px;
	clear: both;
}

#button {

	background-color: blue;
	font-size: 14pt;
	padding-left: 10px;
	height: 75px;
	outline: none;
	border: none;

}


